{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Who am I?</title>

</head>
<body style="background-color:#	F08080">
<img src="{% static 'face.png' %}" width ="200" height = "200">
<h2> Hello Everyone, My Name is Arup Chakraborty</h2>
<p>I was born in the eastern part of India. After finishing my master’s degree in Botany I moved to the USA for a higher degree in Chemistry.
    <br>Currently, I am a faculty at the College of Pharmacy in Henderson, Nevada. My future goal is to work with data science especially
    <br>data mining from big clinical trials. I wish I have little more time in hand to improve this web application </p>
</body>
</html>
